<div id="root">
  <div
    style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;">
    <div class="Polaris-Page">
      <div
        class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
        <div class="Polaris-Page-Header__MainContent">
          <div class="Polaris-Page-Header__TitleActionMenuWrapper">
            <div class="Polaris-Page-Header__TitleWrapper">
              <div>
                <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
                  <div class="Polaris-Header-Title">
                    <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge"><span
                        class="Polaris-TextStyle--variationStrong">Select a Plan</span></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Starter</h2>
              </div>
              <div class="Polaris-Card__Section">
								<%= form_with url: select_plan_index_path, local: false do |form| %>
                  <%= form.hidden_field :shop, value: "#{current_shop.shopify_domain}" %>
									<p>1.25% of subscription & attributed revenue after subscription & attributed revenue exceeds $500/month</p>
									<br>
									<%= form.hidden_field :plan, value: 'starter' %>
									<button class="Polaris-Button Polaris-Button--primary" type="submit">
										<span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Select</span></span>
									</button>
								<% end %>
              </div>
            </div>
          </div>
          <div class="Polaris-Layout__Section Polaris-Layout__Section--oneHalf">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Pro</h2>
              </div>
              <div class="Polaris-Card__Section">
								<%= form_with url: select_plan_index_path, local: false do |form| %>
                  <%= form.hidden_field :shop, value: "#{current_shop.shopify_domain}" %>
									<p>$133/month + 1% of subscription & attributed revenue.</p>
									<br>
									<%= form.hidden_field :plan, value: 'pro' %>
									<button class="Polaris-Button Polaris-Button--primary" type="submit">
										<span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Select</span></span>
									</button>
								<% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="PolarisPortalsContainer"></div>
  </div>
</div>
