<div class="top_meals">

<div class="header_links">
<div class="header_inner">
 

  <div class="filter_section">
    
  </div>
   </div>
</div>
<div class="rebuy_main_div">
  <h1 class="welcome_message">Welcome back <%= @customer.name %></h1>
  <div class="left_section">
    <div class="reorder_div">
      <h2 class="reorder_heading">Re-Order Products</h2>
      <ul class="products_list">
         <% @purchased_products&.each do |product| %>
            <li class="box-item-grid product_card" id="<%= product[:id] %>">
                <div id="items-list" class="innerImageBlock">
                  <div class="item_list_sub">
                    <div class="box-item-img">
                        <img src=<%= product[:image] || asset_path( 'No-image-found.jpg' ) %>>
                    </div>
                    <div class="box-item-information">
                        <h5><%= product[:title] %></h5>
                        <span><%= truncate(product[:description], :length => 50) %></span>
                    </div>
                    <div class="add_to_week">
                        <span class="quantity_under_btn quantity_<%= product[:id] %>"></span>
                        <button class="add_meal_btn plusValue add_to_current_week" data-producttitle="<%=product[:title]%>"  data-id="<%= product[:id] %>" data-imgurl="<%= product[:image].present? ?  product[:image] : asset_path( 'No-image-found.jpg' ) %>">
                        +
                        </button>
                        <button class="add_meal_btn_2 plusValue add_to_current_week" data-producttitle="<%=product[:title]%>"  data-id="<%= product[:id] %>" data-imgurl="<%= product[:image] %>">Add to box</button>
                    </div>
                  </div>
                </div>
            </li>
         <% end %>
      </ul>
    </div>
  </div>
</div>