<%= include_gon %>
<div class="curvo_bundle_main">
<!-- ------------ Banner section -->
  <section class="build-section">
    <div class="wrapper">
      <div class="container">
        <div class="content-box">
          <h3 class="heading"><%= @bundle_menu.title %></h3>
          <span class="bundle-desc-s">
            <%= @bundle_menu.subheading_i %>
          </span>
        </div>
      </div>
      <div class="container-s">
        <div class="content-box-s">
          <h3 class="heading-s">ONE TIME</h3>
          <div class="btn-s">
            <label class="switch-button-s">
            <input type="checkbox" class="slide_round"> 
            <span class="slider round"></span> 
            </label>
          </div>
          <h3 class="heading-s">SUBSCRIBE &amp; SAVE</h3>
        </div>
        <div class="bundle-sub">
          <h3 class="subscribe-sec">
            <%= @bundle_menu.subheading_ii %>
          </h3>
        </div>
      </div>
    </div>
  </section>
<!--------  end-section --------- -->


<!---------------  check out section  -->
  <section class="checkout-section">
    <div class="wrapper">
      <div class="check-sec-inr">
        <div class="col-sec-main">
          <div class="new_tab">
            <div id="progress_bar_main" class="progress-container" data-percentage='20'>
              <div class="progress progress-bar" style="background: rgb(234, 40, 41); width: 0%;">
              </div>
              <ul class="first_list">
                <%# <li style="visibility:hidden;">SPEND:</li> %>
                <li class="progress_right progress_right1 first_ship">$0 </li>
                <li class="progress_right progress_right2 second_ship">$0 </li>
                <li class="progress_right progress_right3 third_ship">$0</li>
                <li class="progress_right progress_right4 fourth_ship">$0</li>
              </ul>
              <ul class="sec_list">
                <li>
                  <span>First Shipment</span>
                </li>
                <li>
                  <span>Second Shipment</span>
                </li>
                <li>
                  <span>Third shipment</span>
                </li>
                <li>
                  <span>Fourth shipment</span>
                </li>
              </ul>
            </div>
            <div class="button-wrapper">
              <button class="button button--primary add_bundle_cart" disabled onclick="check_out_button()">Checkout: <span class="cart_total_price">$0.00</span></button>
              <span class="loader-button__loader">
                <div class="spinner">
                  <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                  </svg>
                </div>
              </span>
            </div>
          </div>
          <div class="column-box-sec">
            <!-- <div class="box-title" product_id="12548652354210">
              <p> here is example </p>
            </div> -->
            <% (1..4)&.each do |i| %>
              <div class="col-box">
                <div class="cart_box_products col-box-inr">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<!----------  end-section ------------>


<!-- -------------  best seller section -- -->
<section class="seller-section">
  <div class="wrapper">
    <div class="seller-sec-inr">
      <div class="section-title">
        <h2>Curvo Bundle</h2>
      </div>
      <div class="seller-box-sec owl-carousel" id="about-us">
        <% @products.each do |product|%>
          <div class="product_main_card" data-product="<%= product.id %>" data-variant="<%= product.variants.first.id %>">
            <div class="seller-box">
              <div class="seller-box-inr">
                <div class="sell-box">
                  <img src="<%= (product&.images&.find{|img| img.id = product.variants.first.id })&.src.present? ?  (product.images.find{|img| img.id = product.variants.first.id })&.src : product&.images&.first&.src %>" alt="sell-img">
                </div>
                <div class="seller-box-bottom">
                  <% if  product.variants.count > 1%>
                  <div class="product_title_div">
                    <div class="box-title" product_id="<%= product.id %>">
                      <h5><%= product.title %></h5>
                    </div>
                    <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235421">
                      <span class="loader-button__text add_cart_button" id="add_product_<%= product.id %>">
                        Add
                      </span>
                      <span class="loader-button__loader" hidden="">
                        <div class="spinner">
                          <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                            <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                          </svg>
                        </div>
                      </span>
                    </button>
                  </div>                  
                  <div class="product_desc">
                    <ul class="product-card__swatches">
                      <%
                        variant_option1 = product.variants&.map{|v| v.option1 }&.uniq
                        variant_option2 = product.variants&.map{|v| v.option2 }&.uniq
                        variant_option1 = variant_option1.include?("S") ? variant_option2 : variant_option1
                        variant_option2 = variant_option2 == variant_option1 ? product.variants&.map{|v| v.option1 }&.uniq : variant_option2
                      %>
                      <% variant_option1&.each do |option1| %>
                        <li class="product-card__swatch select_color" data-product="<%= product.id %>" data-color="<%= option1 %>">
                          <button class="color-swatch no-focus has-swatch-image boost-listings__product-card__product-card-color-swatch select_color_<%= product.id %>" data-color="Tie Dye">
                            <span class="color-swatch__tooltip body-2"><%= option1 %></span>
                            <span class="color-swatch__swatch no-focus">
                              <span class="color-swatch__swatch-inner">
                                <img alt="Tie Dye" src="https://cdn.shopify.com/s/files/1/0607/1844/8811/files/swatch_tie-dye.jpg" onload="this.style.display = 'block'" style="display: block;">
                              </span>
                            </span>
                          </button>
                        </li>
                      <% end %>
                    </ul>
                    <div class="grid__item radio-wrapper product-form__item">
                      <label class="single-option-radio__label" for="ProductSelect-option-1" data-option-name="Størrelse">Størrelse: <span class="variant-label-option-value show_selected_size<%= product.id %>"></span></label><fieldset class="single-option-radio inline-list" id="ProductSelect-option-1"><input type="radio" checked="checked" value="S" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-S">
                      <% variant_option2&.each do |option2| %>
                        <label class="select_size select_size_for_<%= product.id %>" data-product="<%= product.id %>" data-size="<%= option2 %>" ><%= option2 %></label>
                      <%end %>                  
                    </div>
                  </div>
                  <% else %>
                    <div class="product_title_div">
                      <div class="box-title" product_id="<%= product.id %>">
                        <h5><%= product.title %></h5>
                      </div>
                      <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart direct_add_to_cart" data-product="<%= product.id %>" data-variant="<%= product.variants.first.id %>" data-price="<%= product.variants.first.price %>" data-image="<%= product&.images&.first&.src %>" data-producttitle="<%= product.title %>" >
                        <span class="loader-button__text" id="add_product_<%= product.id %>">
                          Add
                        </span>
                        <span class="loader-button__loader" hidden="">
                          <div class="spinner">
                            <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                              <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                            </svg>
                          </div>
                        </span>
                      </button>
                    </div>   
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
</div>
<!----------  end-section ------------>

<%= javascript_pack_tag 'mixpanel', 'data-turbolinks-track': 'reload' %>

<script>

function check_out_button(){
      let variants = []
      selectedProducts?.map((val, i)=>{
        variants.push("variant_"+(i+1)+":"+val.variant)
      })
      let order_note = variants.join(",")+",mixpanel_id:"+gloabalMixpanelId
      console.log("order_note",order_note);
      // let url = `https://<%= @bundle_menu.shop.shopify_domain %>/cart/${selectedProducts[0]?.variant}:1?note=${order_note}&selling_plan=<%= @bundle_menu.selling_plans.first["sellingPlanId"][/\d+/]%>`;
       let url = `https://<%= @bundle_menu.shop.shopify_domain %>/cart/clear?return_to=/cart/add?note=${order_note}%26items[][id]=${selectedProducts[0]?.variant}%26items[][quantity]=1%26items[][selling_plan]=<%= @bundle_menu.selling_plans.first["sellingPlanId"][/\d+/]%>%26return_to=/checkout`;
        console.log("url",url);
        alert(url)
      mixpanelIdentify(gloabalMixpanelId)
      mixpanelTrack("Curvos Bundle", {variants: `${variants.join(",")}`, selingPlan: <%= @bundle_menu.selling_plans.first["sellingPlanId"][/\d+/ ]%>})
      window.location.href = url;
  }

  var allProducts = gon.all_products
  var selectedProducts = [];
  var totalPrice=0;
  var selectedProperty = null;

  //progress bar
  function setPercentage() {
    var percentage;
    if(selectedProducts.length == 1){
      percentage = 0;
    }else if(selectedProducts.length == 2){
      percentage = 33.3
    }else if(selectedProducts.length == 3){
      percentage = 66.6
    }else if(selectedProducts.length == 4){
       percentage = 100
    }  
 
    const progressEl =  $(".progress");
    const percentageEl = $(".percentage");
    
    progressEl.css("width",percentage+"%");
    percentageEl.css("left",percentage+"%");
  }

  $(".select_color").click(function(e){
    e.preventDefault();
    $(".select_color_"+$(this).data("product")).removeClass("is-active")
    $(this).find('button').addClass("is-active");
    if(selectedProperty){
      selectedProperty["color"] = $(this).data("color")
      selectVariants();
      $(".size_select_message").html("")
      $(".color_select_message").html("")
    }else{
      $(".size_select_message").html("Please select a size.")
      selectedProperty = {product: $(this).data("product"), color: $(this).data("color")}
    }
  })

   $(".select_size").click(function(e){
     e.preventDefault();
     $(".select_size_for_"+$(this).data("product")).removeClass("selected_size")
    if(selectedProperty){
      selectedProperty["size"] = $(this).data("size")
      selectVariants();
      $(".size_select_message").html("")
      $(".color_select_message").html("")
    }else{
      $(".color_select_message").html("Please select a color.")
      selectedProperty = {product: $(this).data("product"), size: $(this).data("size")}
    }
    $(".show_selected_size"+$(this).data("product")).html($(this).data("size"));

    $(this).addClass("selected_size")
  })

   $(".direct_add_to_cart").click(function(){
      let index = selectedProducts.findIndex((p ) => p.product === $(this).data("product"));
      let obj = {product: $(this).data("product"), variant: $(this).data("variant"), price: $(this).data("price")}
      if (index === -1) {
        selectedProducts.push(obj);
      } else {
          selectedProducts[index] = obj;
      }


      $(".progress_right"+selectedProducts.length).html("$"+$(this).data("price"))
      $(".progress_right"+selectedProducts.length).attr("data-variant"+selectedProducts.length, $(this).data("variant"))
      $(".cart_box_products:eq("+(selectedProducts.length - 1) +")").html("<img src="+$(this).data("image")+">")
      selectedProducts.map((p)=>{
        totalPrice += +p.price
      })
      totalPrice += +$(this).data("price")
      $(".cart_total_price").html("$"+totalPrice.toFixed(2));
      setPercentage()
      updateCurvosModal($(this).data("variant"), $(this).data("image"), $(this).data("price"), $(this).data("producttitle"))
    })

  function selectVariants(){
    let variant;
    let img;
    let price;
    let product_title;
    allProducts.filter((p)=>{
      p?.variants.find((v)=>{
        if(p.id == selectedProperty.product ){
          if(v.option1 == selectedProperty.color && v.option2 == selectedProperty?.size || v.option2 == selectedProperty.color && v.option1 == selectedProperty?.size){
            variant = v.id
            img = p?.images[0]?.src
            price = v.price
            product_title = p.title
            $("#add_product_"+p.id).html("Add - "+price)
          }
        }
      }
      )
    })
    selectedProperty["variant"] = variant
    selectedProperty["price"] = price
    index = selectedProducts.findIndex((p ) => p.product === selectedProperty?.product);
    if (index === -1) {
      selectedProducts.push(selectedProperty);
    } else {
        selectedProducts[index] = selectedProperty;
    }
    $(".progress_right"+selectedProducts.length).html("$"+price)
    $(".progress_right"+selectedProducts.length).attr("data-variant"+selectedProducts.length, variant)
    selectedProperty = null;
    $(".cart_box_products:eq("+ (selectedProducts.length - 1) +")").html("<img src="+img+">")
    selectedProducts.map((p)=>{
      totalPrice += +p.price
    })
    $(".cart_total_price").html("$"+totalPrice.toFixed(2))
    $(".add_bundle_cart").removeAttr("disabled");   
    setPercentage()
    updateCurvosModal(variant, img, price, product_title)
    
  }

  function updateCurvosModal(variant, image, price, product_title){
    //update_curvos_bundle
    let variants = {}
    let a = [1,2,3,4]
    a.map((i)=>{
      variants["variant"+i] = { variant: $(".progress_right"+i).data("variant"+i), image: image, price: price, product_title: product_title};
    })
    // selectedProducts?.map((val, i)=>{
    //   variants.push(val.variant)
    // })
    $.ajax({
      type: "get",
      data: "variants="+JSON.stringify(variants)+"&mix_panel_id="+gloabalMixpanelId+"&selling_plan=<%= @bundle_menu.selling_plans.first["sellingPlanId"][/\d+/ ]%>",
      url: "/a/chargezen/updateCurvosBundle"
    })
  }


</script>


    