<% customer =  nil %>
<% customer_order =  nil %>

 <div class="client_profile">
    <a href="{{ routes.account_logout_url }}" class="mb-3 logout">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg>
    </a>
  </div>
  <div class="customer-details">
    <div class="container">
      <div class="customer-info">
        <div data-name="{{ customer.first_name }}" class="initial customer-initial">
          EA
        </div>
        <div class="details">
          <strong><%= "#{@customer.first_name.capitalize} #{@customer.last_name.capitalize}" %></strong>
          <!-- <a href="#" class="btn-link">Upgrade Subscription</a> -->
        </div>
      </div>
      <div class="contact-details">
        <h2>Your Current Plan</h2>
        
      </div>
      <div class="button-holder">
        <a href="#edit-subscription-modal" rel="modal:open">
          <button class="btn-yellow bold" id="edit-subscription-btn" tabindex="0">Edit Subscription</button>
        </a>
        <% struct_data = JSON.parse(@customer.api_data.to_json, object_class: OpenStruct) %>
        <% struct_data.lines.edges.each do |line| %>
          <a href="#<%= "swap-#{line.node.id.split("gid://shopify/SubscriptionLine/")[1]}" %>" rel="modal:open">
            <button class="btn-yellow bold" id="edit-subscription-btn" tabindex="0">Swap Subscription</button>
          </a>
          <%= render 'app_proxy/dashboard/swap_subscription_modal', subscription: struct_data, line_item: line.node %>
        <% end %>
        <div id="edit-subscription-modal" title="Basic dialog" class="modal">
          <div class="header"><div><h2>Edit Subscription</h2></div><div aria-hidden="true" class="close-modal" data-action="close" tabindex="-1">
            <!-- <svg fill="none" height="20" viewBox="0 0 18 20" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M0 19.9998H2.212L8.484 11.0398L14.756 19.9998H17.052L9.688 9.58378L16.408 0.175781H14.196L8.568 8.23978L2.856 0.175781H0.672L7.448 9.58378L0 19.9998Z" fill="#DDDDDD"></path></svg> -->
          </div></div>

          <div class="subscription-details">
            <%= select_tag(:option, options_for_select(@subscription_contracts.map {|csc| [csc.subscription, csc.shopify_id] }), id:"subscription-contracts") %>
            <div class="btn-wrapper">
              
              <% if @subscription_paused %>
                <button class="upgrade-subscription light" id="pause-resume-sub" data-path="/resume">Resume Subscription</button>
              <% else %>
                <button class="upgrade-subscription light" id="pause-resume-sub" data-path="/pause">Pause Subscription</button>
              <% end %>
              
              
              <button class="downgrade-subscription light" type="button">Skip Next Order</button><button class="ask-questions light" type="button">Change Delivery Date</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="customer-portal">
    <div class="top-section">
      <div class="hide box-holder">
        <div class="boxes">
          <div class="ico">
            <svg width="84" height="71" viewBox="0 0 84 71" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M78.6667 2.1665H5.33333C3.49238 2.1665 2 3.65889 2 5.49984V65.4998C2 67.3408 3.49238 68.8332 5.33333 68.8332H78.6667C80.5076 68.8332 82 67.3408 82 65.4998V5.49984C82 3.65889 80.5076 2.1665 78.6667 2.1665Z" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2 15.5H82" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.6654 28.833C58.6654 33.2533 56.9094 37.4925 53.7838 40.6181C50.6582 43.7437 46.419 45.4997 41.9987 45.4997C37.5784 45.4997 33.3392 43.7437 30.2136 40.6181C27.088 37.4925 25.332 33.2533 25.332 28.833" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="details">
            <p><strong> <!-- {{ current_subscription.metafields.subscription.dishes_in_week }} --></strong> Meals ordered</p>
            <div class="progress">
              <div id="progressbar"></div>
            </div>
          </div>
        </div>
        <div class="boxes">
          <div class="ico">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M41.7827 66.2187L67.0952 40.9062C73.3139 34.6562 74.2202 24.4374 68.3452 17.9062C66.8718 16.2603 65.0783 14.9321 63.0742 14.0027C61.0702 13.0733 58.8977 12.5623 56.6895 12.5009C54.4813 12.4395 52.2838 12.8289 50.2312 13.6455C48.1786 14.462 46.314 15.6885 44.7514 17.2499L40.0014 22.0312L35.9077 17.9062C29.6577 11.6874 19.4389 10.7812 12.9077 16.6562C11.2618 18.1296 9.93354 19.9231 9.00417 21.9271C8.0748 23.9312 7.5638 26.1037 7.50238 28.3118C7.44096 30.52 7.83041 32.7176 8.64695 34.7702C9.46348 36.8228 10.6899 38.6873 12.2514 40.2499L38.2202 66.2187C38.6941 66.6881 39.3343 66.9515 40.0014 66.9515C40.6685 66.9515 41.3087 66.6881 41.7827 66.2187V66.2187Z" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="details">
            <p><strong> {{ current_subscription.metafields.subscription.dishes_in_week }}</strong> lbs of food waste saved</p>
            <div class="progress warning">
              <div id="progressbarwarning"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="recommended-for">
        <strong>Recommended for you</strong>
        <div class="slider-holder">
          <div class="list">
            <div class="box-holder">
              <div class="img-holder">
                <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/placeholder.png?v=1643630880" alt="Placeholder">
                <button>+</button>
              </div>
              <div class="text-details">
                <strong>Garden Salad (1)</strong>
                <p>$56 / one time</p>
                <a href="/pages/choose-your-plan" style="text-decoration: none;" disabled="true"> <button class="btn-yellow bold">Add Subscription</button></a>
              </div>
            </div>
          </div>
          <div class="list">
              <div class="box-holder">
                <div class="img-holder">
                  <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/placeholder.png?v=1643630880" alt="Placeholder">
                  <button>+</button>
                </div>
                <div class="text-details">
                  <strong>Garden Salad (1)</strong>
                  <p>$56 / one time</p>
                  <a  href="/pages/choose-your-plan" style="text-decoration: none;"> <button class="btn-yellow bold">Add Subscription</button></a>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="flex-holder">
      <div class="tabs-holder">
        <div class="Profile_tab">
          <button class="Profile_links" onclick="Profile(event, 'Overview')" id="defaultOpen">
            <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_764_2732)">
              <path d="M1.54883 24.0072L1.54883 2.10498" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.549 24.0068L23.4512 24.0068" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.4668 15.1517C9.32277 12.543 11.3713 11.0515 13.6813 8.98047L15.115 14.5964L21.3621 9.33043" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_764_2732">
              <rect width="25" height="25" fill="white" transform="translate(0 0.556152)"/>
              </clipPath>
              </defs>
            </svg>
            Overview
          </button>
          <button class="Profile_links" onclick="Profile(event, 'Account')">
            <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_764_2738)">
              <path d="M7.35156 1.92139H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.35156 9.06348H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.35156 16.2051H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 1.92139H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 9.06348H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 16.2051H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_764_2738">
              <rect width="25" height="17.5" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Account
          </button>
          <button class="Profile_links" onclick="Profile(event, 'Subscription')">
            <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.4922 1.48877H3.95977C2.88389 1.48877 2.01172 2.42151 2.01172 3.5721V16.0721C2.01172 17.2227 2.88389 18.1554 3.95977 18.1554H21.4922C22.5681 18.1554 23.4403 17.2227 23.4403 16.0721V3.5721C23.4403 2.42151 22.5681 1.48877 21.4922 1.48877Z" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2.01172 7.44141H23.4403" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Subscription
          </button>
          <button class="Profile_links" onclick="Profile(event, 'Support')">
            <svg width="25" height="35" viewBox="0 0 25 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.8167 21.1691C18.0809 21.1691 22.3483 16.9017 22.3483 11.6375C22.3483 6.37338 18.0809 2.10596 12.8167 2.10596C7.55258 2.10596 3.28516 6.37338 3.28516 11.6375C3.28516 16.9017 7.55258 21.1691 12.8167 21.1691Z" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.65541 20.7846L6.00781 33.1893L12.8161 29.1043L19.6243 33.1893L17.9767 20.771" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Support
          </button>
        </div>
      </div>
      <div class="tab-content-holder">
        <div id="Overview" class="Profile_links_data">
          
          <br>
          <br>
          <h2 style="font-size: 42px; weight: 400; margin: 0 10%; display:none;">Choose a subscription to track your dishes orders per week</h2>
          <br>
          <div style="margin: 0 10%; display:none;" class="flex space-around">
            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g >
              <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
              <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
              <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
              <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
              <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
              <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              </g>
            </svg>
            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>


            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>


            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

          </div>
          <div class="sort_by">
              <p>Sort by:</p>
              <select name="orders" id="orders_list">
                <option value="Current">Current Orders</option>
                <option value="Old">Old Orders</option>
              </select>
            </div>

        <!-- Current Week -->

        <%
          current_date = Date.today
          week_day = current_date
          week_subscription = WorldfarePreOrder.find_by( customer_id: @customer.shopify_customer_id, week: week_day.strftime('%-V').to_i )
          week_subscription_products = []
          if week_subscription.present?
            week_subscription_products = ShopifyAPI::Product.where(ids: JSON.parse(week_subscription.products).join(', '), fields: 'id,title,images') rescue nil
          end
          total_meals = meals_on_plan(@customer.subscription)
          meals_to_select = week_subscription_products ? total_meals -  week_subscription_products.count : total_meals
        %>

        <div class="pre_orders">
          <div class="grey-layer <%= @subscription_paused ? '' : 'hide' %>">Your Subscription is paused!</div>
          <div class="order-box">
            <h2 class="Trial">Current Week(<%= week_day.strftime('%-V').to_i %>/52)</h2>
            <div class="placed_data pdate">
            </div>
            <div class="order_add current-week">
              <ul id="psegment" class="pre_segment">
                <% week_subscription_products.each do |item| %>
                    <div class="order_inn center" >
                      <div class="holder">
                        <!-- <span class='dish_remove'>x</span> -->
                        <img src="<%= item.images.first.src rescue nil %>">
                        <h5><%= item.title rescue nil %> </h5>
                      </div>
                    </div>
                <% end %>
                <% meals_to_select.times do %>
                  <li class="pre_segment_order current_week_empty">
                    <a href="#_" id=""><button><span>+</span><p>Add to box</p></button></a>
                    <img src="" />
                  </li>
                <% end %>
              </ul>
            </div>
            <%
              #week_day.strftime('%-V').to_i
              current_week_meals = []
              current_week_meals = WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.collection_images&.first["products"] if WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.collection_images&.first.present?
              current_week_meals = WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.product_images if current_week_meals.blank?
            %>
            <% if current_week_meals.present? %>
              <div class="meal-options">
              <ul class="box-items-grid hide" id="box-items">
              <% current_week_meals.each do |meal| %>
                <li class="box-item-grid" id="<%= meal["product_id"]&.split('/')&.last %>">
                  <div id="items-list" class="">
                    <div class="box-item-img">
                      <img src=<%= meal["image"] %>>
                    </div>
                    <div class="box-item-information">
                      <h5><%= meal["title"] %></h5>
                      <span><%= truncate(meal["description"], :length => 50) %></span>
                    </div>
                    <div class="box-item-icons">
                      <ul class="icon_list">
                        <li>
                          <div class="box-icon-wrapper">
                            <img src="//cdn.shopify.com/s/files/1/0557/3033/9913/files/Calories_Icon.svg?v=4569060398551131372">
                          </div>
                          <span>520 kcal</span>
                        </li>
                        <li>
                          <div class="box-icon-wrapper">
                            <img src="//cdn.shopify.com/s/files/1/0557/3033/9913/files/Group_346.svg?v=3253623496766777332">
                          </div>
                          <span>82g Carbs</span>
                        </li>
                        <li>
                          <div class="box-icon-wrapper">
                            <img src="//cdn.shopify.com/s/files/1/0557/3033/9913/files/protein_20x.png?v=7819928887151425549">
                          </div>
                          <span>30g Protein</span>
                        </li>
                      </ul>
                    </div>
                    <a href="#_"class="green-btn add-to-week" data-id="<%= meal["product_id"]&.split('/')&.last %>" data-url="<%= meal["image"] %>" id="<%= meal["product_id"]&.split('/')&.last %>">Add to Week</a>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
            <% end %>
            <button id='confirm-current-week-sub-btn', data-customer-id="<%= @customer.shopify_customer_id %>" data-week="<%= week_day.strftime('%-V').to_i %>" class="hide">Confirm Selection</button>
          </div>
        </div>


        <!-- Next Week -->
            <% created_at = Date.parse(@api_data["created_at"]) rescue nil %>
            <%
              delivery_settings = DeliveryOption.find_by( shop_id: @current_shop.id )&.api_response
              delivery_day_sym = customer_order.note.downcase.split(' ')[0] rescue  nil
              cutoff = delivery_settings[:settings].filter{  |day| day['delivery'] == delivery_day_sym }[0] rescue nil
            %>
            <% delivery_date = @api_data["delivery_date"] rescue nil %>
            <% products = ShopifyAPI::Product.where(ids: customer_order.line_items.map(&:product_id).join(', '), fields: 'id,title,images') rescue nil %>

            <% current_date = Date.today %>
            <% if params[:product_ids].present? %>
              <% selected_products = ShopifyAPI::Product.where(ids: params[:product_ids], fields: 'id,title,images') rescue nil %>
            <% end %>
            <% week_days = [] %>
            <%
              (1..1).each do |i| %>
              <% if i == 1
                  week_day = current_date + 7.days
                  # week_day = current_date.next_week(delivery_day_sym.to_sym)
                  week_days << week_day.strftime('%Y%m%d')
                  cutoff_date = cutoff.nil? ? (week_day-2) : current_date.next_week(cutoff['cutoff_day'].downcase.to_sym)
                else
                  week_day = current_date + 7.days
                  # week_day = current_date.next_week(:monday).next_week(delivery_day_sym.to_sym)
                  week_days << week_day.strftime('%Y%m%d')
                  cutoff_date = cutoff.nil? ? (week_day-2) : current_date.next_week(:monday).next_week(cutoff['cutoff_day'].downcase.to_sym)
                end
                # select_by = cutoff_date.strftime("%B %d, %Y #{cutoff.nil? ? '00:00' : cutoff['cutoff_time']}")
                select_by = delivery_date.present? ? Date.today.next_week(Date.strptime(delivery_date, '%m/%d/%Y').strftime("%A").downcase.to_sym).yesterday.strftime('%A, %d %b %Y') : Date.today.next_week(:wednesday).yesterday.strftime('%A, %d %b %Y')
                week_subscription = WorldfarePreOrder.find_by( customer_id: @customer.shopify_customer_id, week: week_day.strftime('%-V').to_i )
                week_subscription_products = []
                if week_subscription.present?
                  week_subscription_products = ShopifyAPI::Product.where(ids: JSON.parse(week_subscription.products).join(', '), fields: 'id,title,images') rescue nil

                end
                total_meals = meals_on_plan(@customer.subscription)
                meals_to_select = week_subscription_products ? total_meals -  week_subscription_products.count : total_meals
              %>
              <div class="pre_orders">
                <div class="grey-layer <%= @subscription_paused ? '' : 'hide' %>">Your Subscription is paused!</div>
                <div class="order-box">
                  <h2 class="Trial">Week <%= week_day.strftime('%-V') rescue nil %>/52 (<%= week_day.beginning_of_week(:sunday).strftime('%B %d') rescue nil %> - <%= week_day.end_of_week(:sunday).strftime('%d, %Y') rescue nil %>)</h2>
                  <div class="placed_data pdate">
                    <p class="placed">Select dishes by:</p>
                    <p class="placed_dates pdate text-right"><%= select_by %></p>
                  </div>
                  <div class="order_add next-week">
                    <ul id="psegment" class="pre_segment">
                      <% week_subscription_products.each do |item| %>
                        <div class="order_inn center" >
                          <div class="holder">
                            <span class='dish_remove'>x</span>
                            <img src="<%= item.images.first.src rescue nil %>" data-id="<%= item.id %>">
                            <h5><%= item.title rescue nil %> </h5>
                          </div>
                        </div>
                      <% end %>
                      <% meals_to_select.times do %>
                        <li class="pre_segment_order empty">
                          <a href="#_" id="box-item"><button><span>+</span><p>Add to box</p></button></a>
                          <img src="" />
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <%
                    #week_day.strftime('%-V').to_i
                    current_week_meals = []
                    current_week_meals = WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.collection_images&.first["products"] if WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.collection_images&.first.present?
                    current_week_meals = WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.product_images if current_week_meals.blank?
                  %>
                  <% if current_week_meals.present? %>
                    <div class="meal-options">
                    <ul class="box-items-grid hide" id="box-items">
                    <% current_week_meals.each do |meal| %>
                      <li class="box-item-grid" id="<%= meal["product_id"]&.split('/')&.last %>">
                        <div id="items-list" class="">
                          <div class="box-item-img">
                            <img src=<%= meal["image"] %>>
                          </div>
                          <div class="box-item-information">
                            <h5><%= meal["title"] %></h5>
                            <span><%= truncate(meal["description"], :length => 50) %></span>
                          </div>
                          <div class="box-item-icons">
                            <ul class="icon_list">
                              <li>
                                <div class="box-icon-wrapper">
                                  <img src="//cdn.shopify.com/s/files/1/0557/3033/9913/files/Calories_Icon.svg?v=4569060398551131372">
                                </div>
                                <span>520 kcal</span>
                              </li>
                              <li>
                                <div class="box-icon-wrapper">
                                  <img src="//cdn.shopify.com/s/files/1/0557/3033/9913/files/Group_346.svg?v=3253623496766777332">
                                </div>
                                <span>82g Carbs</span>
                              </li>
                              <li>
                                <div class="box-icon-wrapper">
                                  <img src="//cdn.shopify.com/s/files/1/0557/3033/9913/files/protein_20x.png?v=7819928887151425549">
                                </div>
                                <span>30g Protein</span>
                              </li>
                            </ul>
                          </div>
                          <a href="#_"class="green-btn add-to-week" data-id="<%= meal["product_id"]&.split('/')&.last %>" data-url="<%= meal["image"] %>" id="<%= meal["product_id"]&.split('/')&.last %>">Add to Week</a>
                        </div>
                      </li>
                    <% end %>
                    </ul>
                  </div>
                  <% end %>
                  <button id='confirm-sub-btn', data-customer-id="<%= @customer.shopify_customer_id %>" data-week="<%= week_day.strftime('%-V').to_i %>" class="hide">Confirm Selection</button>
                </div>
              </div>

            <!-- Past Week -->

            <% if created_at.present? %>
            <% week_number = created_at.cweek %>
              <div class="past_orders">
                <div class='order-box'>
                  <% if DateTime.now.cweek == week_number && customer_order&.line_items.present? && customer_order&.line_items.count > 5 %>
                  <h2 class="Trial">Past Week</h2>
                  <% elsif DateTime.now.cweek == week_number %>
                  <h2 class="Trial">Past Week</h2>
                  <% end %>
                  <div class="orders">
                    <div class="placed_data pdate">
                      <p class="placed">First Order:</p>
                      <p class="placed_dates "><%= Date.commercial(created_at.strftime('%Y').to_i, (created_at.strftime('%W').to_i - 1), 1).next_week(delivery_day_sym.to_sym) rescue nil %></p>
                    </div>
                    <div id="psection" class="product_section">
                    <% @api_data["origin_order"]["line_items"]["edges"].each do |node| %>
                      <% next if node["node"]["product"]["title"].downcase.include?("meal box") rescue nil  %>
                      <%# product = products.find{|p| p.id == node["node"]["product"]["id"][/\d+/].to_i } %>
                      <div class="order_inn">
                        <div class="holder">
                          
                          <img src="<%= node["node"]["product"]["images"]["edges"].last["node"]["original_src"] rescue nil %>">
                          <h5><%= node["node"]["product"]["title"] rescue nil %></h5>
                        </div>
                      </div>
                    <% end %>
                    </div>
                  </div>
                  <div class="order_status">
                    <div class="Status">
                      <p class="s_name">Status:</p>
                      <p class="s_data"><%= @api_data["status"] %></p>
                    </div>
                    <div class="Status">
                      <p class="s_name">Arriving:</p>
                      <!-- <p class="s_data subdued">Est. <%= (created_at + 3.days).strftime('%B %d, %Y') rescue nil %></p> -->
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <p class="mb-3">No Active Orders</p>
            <% end %>
            <% end %>
            <% if params[:product_ids].present? && params[:week] %>
            <button data-pre_order="<%= { customer_id: params[:customer_id],week: week_days[params[:week].to_i-1], products: params[:product_ids] }.to_json %>" class="submit_pre_order">Save Changes</button>
            <% end %>
        </div>
        <form id="customer_info_form hide" onsubmit="return false;" style="display: none">
          <div id="Account" class="Profile_links_data">
              <div id="itable" class="flex space-between">
                <div class="account-holder">
                  <div>
                    <h1 class="t-align-left">Personal Info</h1>
                    <% address = customer&.try(:default_address) || customer&.addresses&.first rescue nil %>
                    <table class="info-table">
                      <tbody>
                        <tr>
                          <td><h3 class="t-align-left bolder">First Name</h3></td>
                          <td><h3 class="t-align-left bolder">Last Name</h3></td>
                        </tr>
                        <tr>
                          <td><input type="text" id="first_name" value="<%= customer&.first_name %>" class="view-input" /></td>
                          <td><input type="text" id="last_name" value="<%= customer&.last_name %>" class="view-input" /></td>
                        </tr>

                        <tr>
                          <td colspan="2"><h3 class="t-align-left bolder " >Address line 1</h3></td>
                        </tr>

                        <tr>
                          <td colspan="2"><input type="text" id="address1" value="<%= address&.address1 %>"class="view-input" /></td>
                        </tr>

                        <tr>
                          <td colspan="2"><h3 class="t-align-left bolder" >Address line 2</h3></td>
                        </tr>

                        <tr>
                          <td colspan="2"><input type="text" id="address2" value="<%= address&.address2 %>"class="view-input" /></td>
                        </tr>

                        <tr id="citys" >
                          <td ><h3 class="t-align-left bolder">City</h3></td>
                          <td><h3 class="t-align-left bolder">State</h3></td>
                        </tr>

                        <tr id="citysvalue">
                        <td><input type="text" id="city" value="<%= address&.city %>" class="view-input" /></td>
                        <td><input type="text" id="province" value="<%= address&.province %>" class="view-input" /></td>
                        </tr>
                        <tr id="countryz">
                          <td><h3 class="t-align-left bolder">Country</h3></td>
                          <td><h3 class="t-align-left bolder">Zip Code</h3></td>
                        </tr>

                        <tr id="countryz-value">
                          <td><input type="text" id="country_name" value="<%= address&.country_name %>" class="view-input" /></td>
                          <td><input type="text" id="zip" value="<%= address&.zip %>" class="view-input" /></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <h1 class="t-align-left ml">Contact Info</h1>
                    <table class="info-table">
                      <tbody>
                        <tr>
                          <td><h3 class="t-align-left bolder">Phone Number</h3></td>
                          <td><h3 class="t-align-left bolder">Email Address</h3></td>
                        </tr>
                        <tr>
                          <td><p class="t-align-left block subdued ft-1"><%= customer&.phone %></p></td>
                          <td><p class="t-align-left block subdued ft-1"><%= customer&.email %></p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <h1 class="t-align-left">Payment</h1>
                    <table class="info-table">
                      <tbody>
                        <tr>
                          <td><h3 class="t-align-left bolder view-text" >Card Number</h3></td>
                          <td><h3 class="t-align-left bolder view-text" >Name on Card</h3></td>
                        </tr>
                        <tr>
                          <td><input type="text" id="credit_card_number" class="view-input" /></td>
                          <td><input type="text" id="credit_card_name" class="view-input" /></td>
                        </tr>
                        <tr>
                          <td><h3 class="t-align-left bolder view-text" >CVV</h3></td>
                          <td ><h3 class="t-align-left bolder">Expiration Date</h3></td>
                        </tr>
                        <tr>
                          <td><input type="text" id="verification_value" class="view-input" /></td>
                        </tr>

                        <tr id="edate">
                          <td><h3 class="t-align-left bolder">Company</h3></td>
                        </tr>

                      <tr>
                      <!-- <td>
                        Month: <br/><br/><input type="month" id="exp_month" class="view-input" placeholder="Month" />
                        <br/><br/>
                        Year: <br/><br/><input type="year" id="exp_year" class="view-input" placeholder="Year" />
                      </td>
                      <td><input type="text" id="company" class="view-input" /></td>
                      </tr> -->
                        <tr id="edatevalue">
                          <td><p class="t-align-left block subdued ft-1 view-text"><%= "#{customer_order&.payment_details&.credit_card_expiration_month}/#{customer_order&.payment_details&.credit_card_expiration_year}" rescue nil %></p></td>
                          <td><p class="t-align-left block subdued ft-1 view-text"><%= customer_order&.payment_details&.credit_card_company rescue nil %></p></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              <div class="flex left-button">
                <button class="btn-yellow" id="edit_information">Edit Information</button>
                <button class="btn-yellow" id="save_information">Save Information</button>
              </div>
            </div>
          </div>
          </form>

          <div id="Subscription hide" class="Profile_links_data" style="display: none">
            <div class="subscription-box">
              <h2 class="Trial">My Subscription</h2>
              <% if (customer_order.line_items.any?{|item| item.name.downcase.include?('trial')} rescue false) %>
                <p>Choose your weekly plan.</p>
              <% end %>

              
            </div>

          </div>
        
        
          <div id="Support hide" class="Profile_links_data" style="display: none">
            <div class="support-section">
              <h1>How can we help?</h1>
              <form action="">
                <div class="holder">
                  <div class="field">
                    <input type="text" class="field__input" placeholder="Ex: 'delivery issue'">
                  </div>
                  <button type="button" class="button button--primary" name="commit" id="Search">
                    Search
                  </button>
                </div>
              </form>
              <div class="help-category">
                <h2>Help by category</h2>
                <ul>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Gear.png?v=1643271581">
                      How it works
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/User.png?v=1643271601">
                      Account & Subscription
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Truck.png?v=1643271594">
                      Delivery & Location
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/ForkKnife.png?v=1643271574">
                      Dietary & Nutrition
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Truck.png?v=1643271594">
                      Cooking & Enjoying Your Dishes
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Recycle.png?v=1643271587">
                      Recycling & Sustainability
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Wallet.png?v=1643271609">
                      Payment & Promos
                    </a>
                  </li>
                </ul>
              </div>
              <div class="popular-questions">
                <h2>Popular questions</h2>
                <ul>
                  <li>
                    <a href="#">
                      How do I make changes to my account?
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      My delivery was...rough. How can you make it right?
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      I forgot to cancel my subscription before the cutoff—can I still get a refund?
                    </a>
                  </li>
                </ul>
              </div>
              <div class="looking-for">
                <h2>Didn't find what you're looking for? </h2>
                <p>Contact us at <a href="mailto:hello@ethey.com">hello@ethey.com</a> and we'll get back to you as soon as possilbe!</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $(document).on('click', '.btn-wrapper button', function(e) {
    $(this).html('Processing <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');
  });

  $('#pause-resume-sub').on('click', function(e){
    e.preventDefault();
    action = $(this).data('path');
    contract_id = $("#contract-content").data("contract-id");
    url = "/a/chargezen_production/subscriptions/" + contract_id + action
    $(this).text('Updating..');
    $.ajax({
      url: url,
      type: 'POST',
      contentType: 'application/json',
      success: function(response) {
        Swal.fire({
          icon: 'success',
          title: "Success! Reloading Page",
          showConfirmButton: false
        })
        location.reload();
      },
      error: function(response) {

      }
    });
  });

  function weekDishRemove(e){
    let pre_order_selector = e.target.parentElement.parentElement.parentElement
    pre_order_selector.innerHTML = "<a href='#_' id='box-item'><button><span>+</span><p>Add to box</p></button></a><img src='' />";
    pre_order_selector.classList.add('empty');
  }

  $(".add-to-week").on('click', function(e){
    e.preventDefault();
    image_url = $(this).data('url')
    let pre_order_selector = document.getElementsByClassName('empty')[0]
    pre_order_selector.innerHTML = "<div class='order_inn add_new_order'><div class='holder'><button class='week_dish_remove' onClick='weekDishRemove(event)'>+</button><img src="+ $(this).data('url') + " data-id=" + $(this).data('id') +"></img></div></div>"
    pre_order_selector.classList.remove("empty");
    $('#confirm-sub-btn').removeClass('hide');
  });

  $("#confirm-sub-btn").on('click', function(e){
    $(this).prop('disabled', true);
    $(this).text('Processing..');

    let product_ids = []
    $('.order_add.next-week img').each(function(i, obj) {
       product_ids.push(obj.dataset.id)
    });
    let params = {
      product_ids: product_ids,
      week: $(this).data('week'),
      customer_id: $(this).data('customer-id'),
      shopify_contract_id: $("#contract-content").data("contract-id")
    }
    $.ajax({
      url: '/a/chargezen_production/dashboard/create_pre_order',
      type: 'POST',
      data: JSON.stringify(params),
      contentType: 'application/json',
      success: function(response) {
        $('.meal-options').hide();
        Swal.fire({
          icon: 'success',
          title: "Success! Reloading Page",
          showConfirmButton: false
        })
        window.location = '/a/chargezen_production?customer_id=' + response.customer_id;
      },
      error: function(response) {

      }
    });
  });

  $(document).on('click', '#box-item', function(e) {
    e.preventDefault();
    $('#box-items')[0].classList.remove('hide');
  });

  $(".dish_remove").on('click', function(e) {
    e.preventDefault();
    $(this).closest('.order_inn').remove();
    $('.next-week ul').append("<li class='pre_segment_order empty'><a href='#_' id='box-item'><button><span>+</span><p>Add to box</p></button></a><img src='' /></li>")
  });
</script>