<% customer =  nil %>
<% customer_order =  nil %>
<% if @customer&.present? %>
  <% struct_data = JSON.parse(@customer&.api_data.to_json, object_class: OpenStruct) %>
  <%
  subscription = struct_data
  id = subscription.id[/\d+/]
  line_item = subscription.lines.edges.first.node
  %>
  <% next_billing_date =  get_next_billing_date(struct_data, @current_shop) %>
  <% billing_policy = struct_data.billing_policy %>
<% end %>
 <div class="client_profile">
    <a href="{{ routes.account_logout_url }}" class="mb-3 logout">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg>
    </a>
  </div>
  <div class="customer-details">
    <div class="container">
      <div class="customer-info">
        <div data-name="{{ customer.first_name }}" class="initial customer-initial">
          EA
        </div>
        <div class="details">
          <strong><%= "#{@customer&.first_name&.capitalize} #{@customer&.last_name&.capitalize}" %></strong>
          <!-- <a href="#" class="btn-link">Upgrade Subscription</a> -->
        </div>
      </div>
      <div class="contact-details">
          <% if params[:local_id].present? %>
            <h2><%= plan_title %> <%= resume_btn %></h2>
          <% else %>
            <h2 style="text-align: center">Your Subscriptions</h2>
          <% end %>
      </div>
      
    </div>
  </div>
    <div class="button-holder">
        <%#= select(:delivery, :day, options_for_select(options_for_delivery_day), selected: (@customer&.delivery_day || "Some text")) %>
        <%# <a href="#edit-subscription-modal" rel="modal:open">
          <button class="btn-yellow bold" id="edit-subscription-btn" tabindex="0">Edit Subscription</button>
        </a> %>
        <%# <a href="#skip-delivery-date-modal" rel="modal:open">
          <button class="btn-yellow bold" id="skip-delivery-date-btn" tabindex="0">Skip Billing Date</button>
        </a> %>
        <% struct_data&.lines&.edges&.each do |line| %>
          <!-- <a href="#<%= "swap-#{line.node.id.split("gid://shopify/SubscriptionLine/")[1]}" %>" rel="modal:open">
            <button class="btn-yellow bold" id="edit-subscription-btn" tabindex="0">Swap Subscription</button>
          </a>
          -->
          <div class="subscriptions">
            <%# <%= render 'app_proxy/dashboard/swap_subscription_modal', subscription: struct_data, line_item: line.node, action_by: 'customer' %>
          </div>
        <% end %>
        <div id="edit-subscription-modal" title="Basic dialog" class="modal">
          <div class="header"><div><h2>Edit Subscription</h2></div><div aria-hidden="true" class="close" data-dismiss="modal"  data-action="close" tabindex="-1">
            <!-- <svg fill="none" height="20" viewBox="0 0 18 20" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M0 19.9998H2.212L8.484 11.0398L14.756 19.9998H17.052L9.688 9.58378L16.408 0.175781H14.196L8.568 8.23978L2.856 0.175781H0.672L7.448 9.58378L0 19.9998Z" fill="#DDDDDD"></path></svg> -->
          </div></div>

          <div class="subscription-details">
            <div class="btn-wrapper">
              <button class="upgrade-subscription light" id="pause-resume-sub" data-path="/pause">Pause Subscription</button>
              <button class="upgrade-subscription light" id="cancel-sub" data-id="<%= subscription&.id[/\d+/] rescue nil %>" data-line-id="<%= line_item&.id  %>" data-line-name="<%= line_item&.name  %> "data-variant-id="<%= line_item&.variant_id %>" >Cancel Subscription</button>
              
              
              <!-- <button class="downgrade-subscription light" type="button">Skip Next Order</button> -->
              <!-- <button class="ask-questions light" type="button">Change Delivery Date</button> -->
            </div>
          </div>
        </div>

        <div id="skip-delivery-date-modal" title="Basic dialog" class="modal">
          <div class="header"><div><h2>Skip Billing Date</h2></div><div aria-hidden="true" class="close" data-dismiss="modal"  data-action="close" tabindex="-1">
            <!-- <svg fill="none" height="20" viewBox="0 0 18 20" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M0 19.9998H2.212L8.484 11.0398L14.756 19.9998H17.052L9.688 9.58378L16.408 0.175781H14.196L8.568 8.23978L2.856 0.175781H0.672L7.448 9.58378L0 19.9998Z" fill="#DDDDDD"></path></svg> -->
          </div></div>

          <div class="subscription-details skip-billing">
              <strong>Billing Cycle</strong>
              <%#= link_to "SKIP", skip_schedule_app_proxy_subscription_path(struct_data.id[/\d+/], "billing_date=#{next_billing_date}&billing_interval=#{billing_policy.interval}&billing_interval_count=#{billing_policy.interval_count}"), remote: true, method: :post %>
              <%#= link_to "SKIP", skip_schedule_app_proxy_subscription_path(struct_data.id[/\d+/]) %>

              
              <ul>
                <li><%= next_billing_date&.strftime("%B %e, %Y") %> <a href="#_" class="pull-right skip-date" data-id="<%= struct_data&.id[/\d+/] rescue nil %>" data-billing-date="<%= next_billing_date %>" data-interval="<%= billing_policy&.interval %>" data-interval-count="<%= billing_policy&.interval_count %>">SKIP</a></li>
                <% (1..2).each do |index| %>
                  <% billing_date = next_billing_date&.to_date + (index * billing_policy&.interval_count)&.send(billing_policy&.interval&.downcase) rescue nil%>
                  <li><%= billing_date&.strftime("%B %e, %Y") %> <a href="#_" class="pull-right skip-date" data-id="<%= struct_data&.id[/\d+/] rescue nil %>" data-billing-date="<%= billing_date %>" data-interval="<%= billing_policy&.interval %>" data-interval-count="<%= billing_policy&.interval_count %>">SKIP</a></li>
                <% end %>
              </ul>
          </div>
          </div>
        </div>

      </div>

  <div class="customer-portal">
    <div class="top-section">
      <div class="hide box-holder">
        <div class="boxes">
          <div class="ico">
            <svg width="84" height="71" viewBox="0 0 84 71" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M78.6667 2.1665H5.33333C3.49238 2.1665 2 3.65889 2 5.49984V65.4998C2 67.3408 3.49238 68.8332 5.33333 68.8332H78.6667C80.5076 68.8332 82 67.3408 82 65.4998V5.49984C82 3.65889 80.5076 2.1665 78.6667 2.1665Z" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2 15.5H82" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M58.6654 28.833C58.6654 33.2533 56.9094 37.4925 53.7838 40.6181C50.6582 43.7437 46.419 45.4997 41.9987 45.4997C37.5784 45.4997 33.3392 43.7437 30.2136 40.6181C27.088 37.4925 25.332 33.2533 25.332 28.833" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="details">
            <p><strong> <!-- {{ current_subscription.metafields.subscription.dishes_in_week }} --></strong> Meals ordered</p>
            <div class="progress">
              <div id="progressbar"></div>
            </div>
          </div>
        </div>
        <div class="boxes">
          <div class="ico">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M41.7827 66.2187L67.0952 40.9062C73.3139 34.6562 74.2202 24.4374 68.3452 17.9062C66.8718 16.2603 65.0783 14.9321 63.0742 14.0027C61.0702 13.0733 58.8977 12.5623 56.6895 12.5009C54.4813 12.4395 52.2838 12.8289 50.2312 13.6455C48.1786 14.462 46.314 15.6885 44.7514 17.2499L40.0014 22.0312L35.9077 17.9062C29.6577 11.6874 19.4389 10.7812 12.9077 16.6562C11.2618 18.1296 9.93354 19.9231 9.00417 21.9271C8.0748 23.9312 7.5638 26.1037 7.50238 28.3118C7.44096 30.52 7.83041 32.7176 8.64695 34.7702C9.46348 36.8228 10.6899 38.6873 12.2514 40.2499L38.2202 66.2187C38.6941 66.6881 39.3343 66.9515 40.0014 66.9515C40.6685 66.9515 41.3087 66.6881 41.7827 66.2187V66.2187Z" stroke="#88B363" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="details">
            <p><strong> {{ current_subscription.metafields.subscription.dishes_in_week }}</strong> lbs of food waste saved</p>
            <div class="progress warning">
              <div id="progressbarwarning"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="recommended-for">
        <strong>Recommended for you</strong>
        <div class="slider-holder">
          <div class="list">
            <div class="box-holder">
              <div class="img-holder">
                <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/placeholder.png?v=1643630880" alt="Placeholder">
                <button>+</button>
              </div>
              <div class="text-details">
                <strong>Garden Salad (1)</strong>
                <p>$56 / one time</p>
                <a href="/pages/choose-your-plan&admin_refcode=<%=params[:admin_refcode]%>" style="text-decoration: none;" disabled="true"> <button class="btn-yellow bold">Add Subscription</button></a>
              </div>
            </div>
          </div>
          <div class="list">
              <div class="box-holder">
                <div class="img-holder">
                  <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/placeholder.png?v=1643630880" alt="Placeholder">
                  <button>+</button>
                </div>
                <div class="text-details">
                  <strong>Garden Salad (1)</strong>
                  <p>$56 / one time</p>
                  <a  href="/pages/choose-your-plan&admin_refcode=<%=params[:admin_refcode]%>" style="text-decoration: none;"> <button class="btn-yellow bold">Add Subscription</button></a>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="flex-holder">
      <div class="wrap-collabsible">
        <input id="collapsible_nav" class="toggle collapse_checkbox" type="checkbox">
        <label for="collapsible_nav" id="nav_label" class="lbl-toggle placed" id="nav_label">Open Account Menu</label>
        <div class="collapsible-contentsss">
      <div class="tabs-holder content-inner" id="nav_tab">
        <div class="Profile_tab">
          <%# <button class="Profile_links nav_tabs" onclick="Profile(event, 'Overview')">
            <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_764_2732)">
              <path d="M1.54883 24.0072L1.54883 2.10498" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.549 24.0068L23.4512 24.0068" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.4668 15.1517C9.32277 12.543 11.3713 11.0515 13.6813 8.98047L15.115 14.5964L21.3621 9.33043" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_764_2732">
              <rect width="25" height="25" fill="white" transform="translate(0 0.556152)"/>
              </clipPath>
              </defs>
            </svg>
            Overviews
          </button> %>
          <button class="Profile_links nav_tabs" onclick="Profile(event, 'Subscription')" id="defaultOpen">
             <div class="Polaris-Navigation__ItemWrapper">
                <a class="active_nav('dashboard', 'index')" href="<%= "/a/chargezen_production/dashboard?customer_id=#{params[:customer_id]}"%>&admin_refcode=<%=params[:admin_refcode]%>"  tabindex="0">
                  <div class="Polaris-Navigation__Icon">
                    <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.4922 1.48877H3.95977C2.88389 1.48877 2.01172 2.42151 2.01172 3.5721V16.0721C2.01172 17.2227 2.88389 18.1554 3.95977 18.1554H21.4922C22.5681 18.1554 23.4403 17.2227 23.4403 16.0721V3.5721C23.4403 2.42151 22.5681 1.48877 21.4922 1.48877Z" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M2.01172 7.44141H23.4403" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="Polaris-Navigation__Text"> <%= @translation.sidebar_subscription.present? ? @translation.sidebar_subscription : 'Subscription' %></span>
                  </div>            
                </a>
              <div>
            <div class="Polaris-Navigation__SecondaryNavigation.Polaris-Navigation--isExpanded">
              <div id="PolarisSecondaryNavigation15" aria-expanded="true" style="transition-duration: 0ms; transition-timing-function: linear; max-height: none; overflow: visible;" >
                <ul class="Polaris-Navigation__List">
                  <li class="Polaris-Navigation__ListItem">
                    <div class="Polaris-Navigation__ItemWrapper active-subscription">
                      <span class="Polaris-Navigation__Text">
                        <%= link_to "/a/chargezen_production/dashboard?customer_id=#{params[:customer_id]}&status=active&admin_refcode=#{params[:admin_refcode]}", class: 'Polaris-Navigation__Item', data: {'polaris-unstyled': true}, tab_index: '0', aria: {disabled: false} do %>
                          <span class="Polaris-Navigation__Text">
                            <span class="<%= params[:status] == "active" ? 'sub-active' : ''%>"><%=@translation.sidebar_active.present? ? @translation.sidebar_active : 'Active' %></span>
                          </span>
                        <% end %>
                      </span>
                    </div>
                  </li>
                
                  <li class="Polaris-Navigation__ListItem">
                    <div class="Polaris-Navigation__ItemWrapper cancel-subscription">
                      <span class="Polaris-Navigation__Text">
                        <%= link_to "/a/chargezen_production/dashboard?customer_id=#{params[:customer_id]}&status=cancelled&admin_refcode=#{params[:admin_refcode]}", class: 'Polaris-Navigation__Item', data: {'polaris-unstyled': true}, tab_index: '0', aria: {disabled: false} do %>
                          <span class="<%= params[:status] == "cancelled" ? 'sub-active' : ''%>"><%= @translation.sidebar_cancelled.present? ? @translation.sidebar_cancelled : 'Cancelled' %></span>
                        <% end %>
                      </span>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </button>
          <button class="Profile_links nav_tabs" onclick="Profile(event, 'Account')">
            <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_764_2738)">
              <path d="M7.35156 1.92139H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.35156 9.06348H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.35156 16.2051H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 1.92139H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 9.06348H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 16.2051H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_764_2738">
              <rect width="25" height="17.5" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Address
          </button>
          <button class="Profile_links nav_tabs" onclick="Profile(event, 'Billing')">
            <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_764_2738)">
              <path d="M7.35156 1.92139H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.35156 9.06348H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.35156 16.2051H22.8256" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 1.92139H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 9.06348H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.40039 16.2051H1.41121" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_764_2738">
              <rect width="25" height="17.5" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Billing
          </button>
          <button class="Profile_links nav_tabs" id="order_history" onclick="Profile(event, 'OrderHistory')">
            <svg fill="none" height="19" viewBox="0 0 16 19" width="16" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.2917 1.24365H2.88608C2.46136 1.24365 2.05403 1.41237 1.75371 1.71269C1.45339 2.01302 1.28467 2.42034 1.28467 2.84506V15.6563C1.28467 16.081 1.45339 16.4884 1.75371 16.7887C2.05403 17.089 2.46136 17.2577 2.88608 17.2577H12.4945C12.9192 17.2577 13.3266 17.089 13.6269 16.7887C13.9272 16.4884 14.0959 16.081 14.0959 15.6563V6.04787L9.2917 1.24365Z" stroke="#4D506A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
              <path d="M9.29199 1.24341V6.04763H14.0962" stroke="#4D506A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            </svg>
            Order History
          </button>
          <button class="Profile_links  nav_tabs hide" onclick="Profile(event, 'Support')">
            <svg width="25" height="35" viewBox="0 0 25 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.8167 21.1691C18.0809 21.1691 22.3483 16.9017 22.3483 11.6375C22.3483 6.37338 18.0809 2.10596 12.8167 2.10596C7.55258 2.10596 3.28516 6.37338 3.28516 11.6375C3.28516 16.9017 7.55258 21.1691 12.8167 21.1691Z" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.65541 20.7846L6.00781 33.1893L12.8161 29.1043L19.6243 33.1893L17.9767 20.771" stroke="#384443" stroke-width="2.52583" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Support
          </button>
        </div>
      </div>
      </div></div>
      <div class="tab-content-holder">
        <div id="Overview" class="Profile_links_data <%= params[:overview]=="true" ? "": "hidden" %>" >
          
          <br>
          <br>
          <h2 style="font-size: 42px; weight: 400; margin: 0 10%; display:none;">Choose a subscription to track your dishes orders per week</h2>
          <br>
          <div style="margin: 0 10%; display:none;" class="flex space-around">
            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g >
              <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
              <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
              <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
              <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
              <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
              <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
              </g>
            </svg>
            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>


            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>


            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

            <svg width="48" height="241" viewBox="0 0 48 241" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g >
            <rect y="0.558594" width="48" height="240" rx="10" fill="#FAFAFA"/>
            <path d="M0 220.559H48V230.559C48 236.081 43.5228 240.559 38 240.559H10C4.47715 240.559 0 236.081 0 230.559V220.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 200.559H48V220.559H0V200.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 180.559H48V200.559H0V180.559Z" fill="black" fill-opacity="0.1"/>
            <path d="M0 160.559H48V180.559H0V160.559Z" fill="black" fill-opacity="0.1"/>
            <line y1="140.059" x2="48" y2="140.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="120.059" x2="48" y2="120.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="100.059" x2="48" y2="100.059" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="80.0586" x2="48" y2="80.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="60.0586" x2="48" y2="60.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="40.0586" x2="48" y2="40.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            <line y1="20.0586" x2="48" y2="20.0586" stroke="#2B4F3E" stroke-opacity="0.1"/>
            </g>
            </svg>

          </div>
          <%# <div class="sort_by">
            <p>Sort by:</p>
            <select name="orders" id="orders_list">
              <option value="Current">Current Orders</option>
              <option value="Old">Old Orders</option>
            </select>
          </div> %>

        <!-- Current Week -->
        <%
          current_date = Date.current
          week_day = current_date
          week_subscription = WorldfarePreOrder.find_by(shopify_contract_id: @customer&.shopify_id, customer_id: @customer&.shopify_customer_id, week: week_day.strftime('%-V').to_i )
          week_subscription_products = []

          selected_products = []
          total_meals = meals_on_plan(@customer&.subscription)
          meals_to_select = total_meals

          # current_week_meals = []
          # current_week_meals = WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.collection_images&.first["products"] if WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.collection_images&.first.present?
          # current_week_meals = WeeklyMenu.where(week: week_day.strftime('%-V').to_i).first&.product_images if current_week_meals.blank?
          current_week_meals = current_week_meals(week_day)

          if week_subscription.present? && current_week_meals.present?
            selected_products = JSON.parse(week_subscription.products)
            meals_to_select = total_meals - selected_products.count
          end
        %>
        <div class="pre_orders">
          <div class="grey-layer <%= @subscription_paused ? '' : 'hide' %>">Your Subscription is paused!</div>
          <div class="order-box  <%= hide_display_selection %> <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "grayed-out" : "" %>">
            <div>
              <h2 class="Trial">Week of <%= current_date&.beginning_of_week&.strftime('%A %d %B') %> - <%= current_date&.end_of_week&.strftime('%A %d %B') %></h2>
              <div>
                <div>
                  <%= render partial: "/partials/message_modal", locals:{header: "Current Week", message: "You cannot skip a current week", message_modal_id: "current_week_message_modal"}%>
                  <button type="button" style="background: gray !important; float:right" class="btn-yellow bold action-btn modal_btn" data-target="#current_week_message_modal" data-toggle="modal" style="float: right;" data-week="<%= week_day %>" data-contractId="<%= @customer&.id %>" style="background: gray!important;" >
                    <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "Unskip" : "Skip" %>
                  </button>
                  <div class="placed_data pdate">
                    <p class="placed">Select Meals By</p>
                    <p class="placed_dates pdate text-right" id='current-week-select-by'><%= @current_week_select_by&.strftime('%A, %d %b %Y') rescue nil  %></p>
                  </div>

                  <div class="placed_data pdate">
                    <p class="placed">Expected delivery :</p>
                    <p class="placed_dates pdate text-right"><%= @current_week_expected_delivery&.strftime('%A, %d %b %Y') rescue @no_data_message %></p>
                  </div>
                  <% if @current_week_select_by.present? %>
                    <div class="order_add current-week <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "" : "" %>" id="add_box_<%= week_day %>">
                      <ul id="psegment" class="pre_segment">
                        <% selected_products&.each do |item| %>
                          <% meal_product = current_week_meals.filter{|m| "#{m["product_id"][/\d+/]}"&.strip == "#{item}"&.strip}.first %>
                          <% if  meal_product.present? %>
                            <div class="order_inn center" >
                              <div class="holder">
                                  <a href='/a/chargezen_production/dashboard/add_meals?local_id=<%= @customer&.id %>&week_day=<%= week_day %>' data-method=post>
                                    <span class='dish_remove'>x</span>
                                  </a>
                                  <img src="<%= meal_product['image'] rescue nil %>" data-id="<%= meal_product['product_id'][/\d+/] %>" data-saved="true">
                                  <h5><%= meal_product&['title'] rescue nil %> </h5>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                        <% meals_to_select.times do %>
                          <li class="pre_segment_order empty-current">
                            <a href="#_" id="box-item-current">
                              <%= link_to "/a/chargezen_production/dashboard/add_meals?local_id=#{params[:local_id]}&week_day=#{week_day}", method: :post do %>
                                <button><span>+</span><p>Add to box</p></button>
                            <% end %>
                            </a>
                            <img src="" />
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Next Week -->
            <% delivery_date = @customer&.delivery_date rescue nil %>
            <% created_at = Date.parse(@api_data["created_at"]) rescue nil %>
            <% current_date = Date.today %>
            <% week_days = [] %>
            <% (1..3).each do |i| %>
              <% 
                if i == 1
                    week_day = current_date + 7.days
                else
                  current_date = week_day
                  week_day = current_date + 7.days
                  # week_day = current_date.next_week(:monday).next_week(delivery_day_sym.to_sym)
                  week_days << week_day.strftime('%Y%m%d')
                  # cutoff_date = cutoff.nil? ? (week_day-2) : current_date.next_week(:monday).next_week(cutoff['cutoff_day'].downcase.to_sym)
                  @next_week_select_by = @next_week_select_by + 7.days rescue nil
                  @next_week_expected_delivery = @next_week_expected_delivery + 7.days rescue nil
                end
                week_subscription = WorldfarePreOrder.find_by(shopify_contract_id: @customer&.shopify_id, customer_id: @customer&.shopify_customer_id, week: week_day.strftime('%-V').to_i )
                selected_products = []
                total_meals = meals_on_plan(@customer&.subscription)
                meals_to_select = total_meals

                next_week_meals = current_week_meals(week_day)

                if week_subscription.present? && next_week_meals.present?
                  selected_products = JSON.parse(week_subscription.products)
                  meals_to_select = total_meals - selected_products.count
                end
              %>
              <div class="pre_orders" >
                <div class="grey-layer <%= @subscription_paused ? '' : 'hide' %>">Your Subscription is paused!</div>
                <div class="order-box <%= hide_display_selection  %> <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "grayed-out" : "" %>">
                  <div class="wrap-collabsible">
                    <input id="collapsible<%=i%>" class="toggle collapse_checkbox" type="checkbox">
                    <label for="collapsible<%=i%>" class="lbl-toggle placed">
                      <h2 class="Trial">Week of <%= (current_date + 1.week).beginning_of_week.strftime('%A %d %B') %> - <%= (current_date + 1.week).end_of_week.strftime('%A %d %B, %Y')%> </h2>
                    </label>
                    <div class="collapsible-content">
                      <div class="content-inner">
                        <% if (week_subscription&.order_id.present? &&  (week_subscription&.status != "canceled" || week_subscription&.status != "refunded"))%>
                          <button type="button" style="background: gray !important; float: right;" class="btn-yellow bold action-btn modal_btn" data-target="#already_paid_message_modal" data-toggle="modal" style="float: right;" data-week="<%= week_day %>" data-contractId="<%= @customer&.id %>" style="background: gray!important;" >
                            <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "Unskip" : "Skip" %>
                          </button>
                          <%= render partial: "/partials/message_modal", locals:{header: "Already Paid", message: "You have already paid for this order. It cannot be skipped",message_modal_id: "already_paid_message_modal"}%>
                        <% else %>
                          <button type="button" class="btn-yellow bold skip_week" style="float: right;" data-week="<%= week_day %>" data-contractId="<%= @customer&.id %>" >
                            <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "Unskip" : "Skip" %>
                          </button>
                        <% end %>
                        <div class="placed_data pdate">
                          <p class="placed">Select Meals By</p>
                          <p class="placed_dates pdate text-right" id='next-week-select-by'><%= @next_week_select_by.strftime('%A, %d %b %Y') rescue nil %></p>
                        </div>

                        <div class="placed_data pdate">
                          <p class="placed">Expected delivery :</p>
                          <p class="placed_dates pdate text-right"><%= @next_week_expected_delivery&.to_date&.strftime('%A, %d %b %Y') rescue @no_data_message %></p>
                        </div>

                        <% if @next_week_select_by.present? %>
                          <div class="order_add next-week-<%= week_day.strftime('%-V').to_i %> next-week_<%= week_day %> next-week <%= @customer&.skip_dates&.include?("#{week_day&.to_date&.cweek}") ? "hide" : "" %>" id="add_box_<%= week_day %>">
                            <ul id="psegment" class="pre_segment">
                              <% selected_products.each do |item| %>
                                <% meal_product = next_week_meals.filter{|m| "#{m["product_id"][/\d+/]}"&.strip == "#{item}"&.strip}.first %>
                                <div class="order_inn center" >
                                  <div class="holder">
                                    <a href='/a/chargezen_production/dashboard/add_meals?local_id=<%= @customer&.id %>&week_day=<%= week_day %>' data-method=post >
                                      <span class='dish_remove'>x</span>
                                    </a>
                                    <img src="<%= meal_product['image'] rescue asset_path( 'No-image-found.jpg' ) %>" data-id="<%= meal_product['product_id'][/\d+/]  rescue "" %>" data-saved="true">
                                    <h5><%= meal_product['title'] rescue nil %> </h5>
                                  </div>
                                </div>
                              <% end %>
                              <% meals_to_select.times do %>
                                <li class="pre_segment_order <%= week_day %> empty">
                                  <a href="#_" id="box-item">
                                    <%= link_to "/a/chargezen_production/dashboard/add_meals?local_id=#{params[:local_id]}&week_day=#{week_day}", method: :post do %>
                                      <button class="<%= week_day %>"><span>+</span><p>Add to box</p></button>
                                    <% end %>
                                  </a>
                                  <img src="" />
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- Past Week -->

            <% if created_at.present? %>
              <% week_number = created_at.cweek %>
              <div class="past_orders">
                <div class='order-box'>
                  <% if DateTime.now.cweek == week_number && customer_order&.line_items.present? && customer_order&.line_items.count > 5 %>
                    <h2 class="Trial">Past Week</h2>
                  <% elsif DateTime.now.cweek == week_number %>
                    <h2 class="Trial">Past Week</h2>
                  <% end %>
                  <div class="orders">
                    <div class="wrap-collabsible">
                      <input id="collapsible_first_order" class="toggle collapse_checkbox" type="checkbox">
                      <label for="collapsible_first_order" class="lbl-toggle placed">First Order:</label>
                      <div class="collapsible-content">
                        <div class="content-inner">
                          <p>
                            <p class="placed_dates "><%= Date.commercial(created_at.strftime('%Y').to_i, (created_at.strftime('%W').to_i - 1), 1).next_week(delivery_day_sym.to_sym) rescue nil %></p>
                            <div id="psection" class="product_section">
                              <% @customer&.origin_order_meals&.each do |node| %>
                                <% next if node["node"]["product"]["title"].downcase.include?("meal box") rescue nil  %>
                                <%# product = products.find{|p| p.id == node["node"]["product"]["id"][/\d+/].to_i } %>
                                <div class="order_inn">
                                  <div class="holder">
                                    
                                    <img src="<%= node["node"]["product"]["images"]["edges"].last["node"]["original_src"] rescue nil %>">
                                    <h5><%= node["node"]["product"]["title"] rescue nil %></h5>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order_status">
                    <div class="Status">
                      <p class="s_name">Status:</p>
                      <p class="s_data"><%= @api_data["status"] %></p>
                    </div>
                    <div class="Status">
                      <p class="s_name">Arriving:</p>
                      <!-- <p class="s_data subdued">Est. <%= (created_at + 3.days).strftime('%B %d, %Y') rescue nil %></p> -->
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <p class="mb-3">No Active Orders</p>
            <% end %>
            <% if params[:product_ids].present? && params[:week] %>
            <button data-pre_order="<%= { customer_id: params[:customer_id],week: week_days[params[:week].to_i-1], products: params[:product_ids] }.to_json %>" class="submit_pre_order">Save Changes</button>
            <% end %>
        </div>
        <div>
        <form id="customer_info_form" action="/a/chargezen_production/account/update_address" method='post' style="display: none" data-remote="true">
          <div id="Account" class="Profile_links_data">
              <div id="itable" class="flex space-between">
                <div class="account-holder">
                  <div>
                    <h1 class="t-align-left">Personal Info</h1>
                    <% address = @customer&.try(:default_address) || @customer&.addresses&.first rescue nil %>
                      <table class="info-table">
                        <tbody>
                          <tr>
                            <td><h3 class="t-align-left bolder">First Name</h3></td>
                            <td><h3 class="t-align-left bolder">Last Name</h3></td>
                          </tr>
                          <tr>
                            <input name="id" type="hidden" value="<%= "#{@customer&.shopify_customer_id rescue params[:customer_id]}"%>">
                            <td><input type="text" id="first_name" name="address[first_name]" value="<%= @customer&.first_name %>" class="view-input disabled" /></td>
                            <td><input type="text" id="last_name" name="address[last_name]" value="<%= @customer&.last_name %>" class="view-input disabled" /></td>
                          </tr>

                          <tr>
                            <td colspan="2"><h3 class="t-align-left bolder " >Address line 1</h3></td>
                          </tr>

                          <tr>
                            <td colspan="2"><input type="text" id="address1" name="address[address_1]" value="<%= @customer&.address_1 %>"class="view-input disabled" /></td>
                          </tr>

                          <tr>
                            <td colspan="2"><h3 class="t-align-left bolder" >Address line 2</h3></td>
                          </tr>

                          <tr>
                            <td colspan="2"><input type="text" id="address2" name="address[address_2]" value="<%= @customer&.address_2 %>"class="view-input disabled" /></td>
                          </tr>

                          <tr id="citys" >
                            <td ><h3 class="t-align-left bolder">City</h3></td>
                            <td><h3 class="t-align-left bolder">State</h3></td>
                          </tr>

                          <tr id="citysvalue">
                          <td><input type="text" id="city" name="address[city]" value="<%= @customer&.city %>" class="view-input disabled" /></td>
                          <td><input type="text" id="province" name="address[province]" value="<%= @customer&.province %>" class="view-input disabled" /></td>
                          </tr>
                          <tr id="countryz">
                            <td><h3 class="t-align-left bolder">Country</h3></td>
                            <td><h3 class="t-align-left bolder">Zip Code</h3></td>
                          </tr>

                          <tr id="countryz-value">
                            <td><input type="text" id="country" name="address[country]" value="<%= @customer&.country %>" class="view-input disabled" /></td>
                            <td><input type="text" id="zip" name="address[zip]" value="<%= @customer&.zip %>" class="view-input disabled" /></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div>
                      <h1 class="t-align-left ml">Contact Info</h1>
                      <table class="info-table">
                        <tbody>
                          <tr>
                            <td><h3 class="t-align-left bolder">Phone Number</h3></td>
                            <td><h3 class="t-align-left bolder">Email Address</h3></td>
                          </tr>
                          <tr>
                            <td><p class="t-align-left block subdued ft-1"><%= customer&.phone %></p></td>
                            <td><p class="t-align-left block subdued ft-1"><%= customer&.email %></p></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
              <div class="flex left-button">
                <button type="button" class="btn-yellow" id="edit_information">Edit Information</button>
                <button type="button" class="btn-yellow" id="save_information" style="display: none">Save Information</button>
              </div>
            </div>
          </div>
        </form>
        <div id="Billing" class="Profile_links_data" style="display: none">
          <%= render "partials/payment_methods" %>
        </div>

          <div id="Subscription" class="Profile_links_data <%= params[:overview]=="true"? "hidden" : "" %>">
            <%= render "partials/subscription.html.slim" %>
          </div>
        
          <div id="OrderHistory" class="Profile_links_data" style="display: none">
            <%= render "app_proxy/orders/order_index" %> 
          </div>
          <div id="ShowOrder"></div>
          <div id="Support" class="Profile_links_data" style="display: none">
            <div class="support-section">
              <h1>How can we help?</h1>
              <form action="">
                <div class="holder">
                  <div class="field">
                    <input type="text" class="field__input" placeholder="Ex: 'delivery issue'">
                  </div>
                  <button type="button" class="button button--primary" name="commit" id="Search">
                    Search
                  </button>
                </div>
              </form>
              <div class="help-category">
                <h2>Help by category</h2>
                <ul>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Gear.png?v=1643271581">
                      How it works
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/User.png?v=1643271601">
                      Account & Subscription
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Truck.png?v=1643271594">
                      Delivery & Location
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/ForkKnife.png?v=1643271574">
                      Dietary & Nutrition
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Truck.png?v=1643271594">
                      Cooking & Enjoying Your Dishes
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Recycle.png?v=1643271587">
                      Recycling & Sustainability
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0585/9573/7757/t/8/assets/Wallet.png?v=1643271609">
                      Payment & Promos
                    </a>
                  </li>
                </ul>
              </div>
              <div class="popular-questions">
                <h2>Popular questions</h2>
                <ul>
                  <li>
                    <a href="#">
                      How do I make changes to my account?
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      My delivery was...rough. How can you make it right?
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      I forgot to cancel my subscription before the cutoffcan I still get a refund?
                    </a>
                  </li>
                </ul>
              </div>
              <div class="looking-for">
                <h2>Didn't find what you're looking for? </h2>
                <p>Contact us at <a href="mailto:hello@ethey.com">hello@ethey.com</a> and we'll get back to you as soon as possilbe!</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">

  $('.skip-date').on('click', function(e){
    $(this).html("SKIP <i class='fa fa-spinner fa-spin' aria-hidden='true'></i>");
    let params = {
      id: $(this).data('id'),
      billing_date: $(this).data('billing-date'),
      billing_interval: $(this).data('interval'),
      billing_interval_count: $(this).data('interval-count')
    }
    url = "/a/chargezen_production/dashboard/portal_skip_schedule"
    $.ajax({
      url: url,
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(params),
      success: function(response) {
        Swal.fire({
          icon: 'success',
          title: "Success! Reloading Page",
          showConfirmButton: false
        })
        location.reload();
      },
      error: function(response) {

      }
    });
  });

  $(document).on('click', '#box-item', function(e) {
    e.preventDefault();
    if ($('#next-week-select-by').text() != 'No delivery this week') {
      $('#box-items'+e.target.parentElement.className)[0]?.classList?.remove('hide');
    }
  });

  $(document).on('click', '#box-item-current', function(e) {
    e.preventDefault();
    if ($('#current-week-select-by').text() != 'No delivery this week') {
      $('#box-items-current')[0].classList.remove('hide');
    }
  });

  $('#update-delivery-btn').on('click', function(e){
    e.preventDefault();
    contract_id = $(this).data('id');
    url = '/a/chargezen_production/dashboard/update_delivery_day';
    $(this).text('Updating..');
    let params = {
      delivery_day: $("#delivery_day").val(),
      contract_id : contract_id
    }
    $.ajax({
      url: url,
      type: 'GET',
      contentType: 'application/json',
      data: params,
      success: function(response) {
        Swal.fire({
          icon: 'success',
          title: "Success! Reloading Page",
          showConfirmButton: false
        })
        location.reload();
      },
      error: function(response) {

      }
    });
  });

  $('.skip_week').on('click',function() {   
    if($(this).html()?.trim() === "Skip")
    {
      data= "skip_date="+$(this)?.data("week")+"&method=skip&id="+$(this)?.data("contractid")
      $(this).html('Unskip');
      $(this).parent().parent().parent().parent().addClass("grayed-out");
      $("#add_box_"+$(this)?.data("week")).addClass("hide");
    }else{
      data= "skip_date="+$(this)?.data("week")+"&method=unskip&id="+$(this)?.data("contractid")
      $(this).html('Skip')
      $(this).parent().parent().parent().parent().removeClass("grayed-out");
      $("#add_box_"+$(this)?.data("week")).removeClass("hide");
    }
    $.ajax({
      type: "get",
      data: data+"&action_by=customer&admin_refcode=<%= params[:admin_refcode] %>",
      url: "/a/chargezen_production/subscriptions/skip_next_billing_date",
    })
  });

  $("#delivery_day").on("change",function(){
    if($(this).find(":selected").val() && $(this).find(":selected").val() != $(this).data('day')){
      $("#update-delivery-btn").removeClass('hide');
    }
    else{
      $("#update-delivery-btn").addClass('hide');
    }
  })

  $("#save_information").on('click',function(){
    $.ajax({
      url: $("#customer_info_form").attr("action"),
      type: 'POST',
      data: $("#customer_info_form").serialize()+"&admin_refcode=<%= params[:admin_refcode] %>",
      success: function(response) {
        Swal.fire({
          icon: 'success',
          title: "Success! Reloading Page",
          showConfirmButton: false
        })
        location.reload();
      },
      error: function(response) {

      }
    });
  })
  $("#edit_information").on('click', function(){
        $('.view-input').removeClass('disabled');
        $(this).hide();
        $('#save_information').show();
  });

  $("#nav_label").on("click",function(){
    if($(this).hasClass("closed")){
      $(this).html("Open account menu");
      $(this).removeClass("closed")
      $(this).addClass("open")
    }else{
      $(this).html("Close account menu");
      $(this).removeClass("open")
      $(this).addClass("closed")
    }
  })

  $("#order_history").on("click",function(){
    $("#ShowOrder").html("");
  })

  $(".nav_tabs").on('click', function () {
    $('#nav_tab').slideToggle();
    if($("#nav_label").hasClass("closed")){
      $("#nav_label").html("Open account menu");
      $("#nav_label").removeClass("closed")
      $("#nav_label").addClass("open")
    }else{
      $("#nav_label").html("Close account menu");
      $("#nav_label").removeClass("open")
      $("#nav_label").addClass("closed")
    }
  })
</script>
