<div class="stripe_contracts_main_div">
    <div class="stripe_contract_table">
        <div class="stripe-contracts_list">
            <% if @customer.present? %>
                <% @stripe_contracts.each do |contract| %>
                    <div class="stripe_contract_card">
                        <div class="label_div">
                            <div class="label">Product Name</div>
                            <%= contract&.stripe_product_name %>
                        </div>
                        <div>
                            <% if contract&.stripe_contract_pdf&.contract_pdf&.attached? %>
                                <p class="stripe_contract_pdf">
                                    <object
                                        data="<%= contract&.stripe_contract_pdf&.contract_pdf&.service_url %>"
                                        type="application/pdf"
                                        width="100%"
                                        height="100%"
                                    >
                                        <iframe
                                            src="<%= contract&.stripe_contract_pdf&.contract_pdf&.service_url %>"
                                            width="100%"
                                            height="100%"
                                            style="border: none;"
                                        >
                                            <p>
                                                Your browser does not support PDFs.
                                                <a target="_blank" href="<%= contract&.stripe_contract_pdf&.contract_pdf&.service_url %>">
                                                    Contract Pdf
                                                </a>
                                                .
                                            </p>
                                        </iframe>
                                    </object>
                                </p>
                            <% else %>
                                No file
                            <% end %>
                        </div>
                        <div class="label_div">
                            <% if contract.checked_out == true %>
                                Already Checked Out
                            <% else %>
                                <button type="button" class="checkout_button" data-contract="<%= contract&.id %>">
                                    Checkout
                                </button>                                
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<script>
    $(".checkout_button").click(function (){
        $.ajax({
            method: "post",
            data: `shopify_domain=<%= @customer.shop.shopify_domain %>&contract_id=${$(this).data("contract")}&customer_email=<%= @customer.email %>&token=<%= params[:token]%>`,
            url: "/a/chargezen/stripeContractCheckout",
            success: function(response){
                window.location.replace(response?.checkout_url)
            }
        })
    })
</script>