<div class="Polaris-DataTable__ScrollContainer boxaby_master_main_div">
    <button id="myBtn" class="hide">Edit</button>
    
    <table class="Polaris-DataTable__Table">
        <thead>
            <tr style="background: #007EFF;">
                <th></th>
                <th aria-sort="none" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" data-polaris-header-cell="true" scope="col" style="color: #FFFFFF">
                    Week
                </th>
                <th aria-sort="none" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" data-polaris-header-cell="true" scope="col" style="color: #FFFFFF">
                    Meals in the week
                </th>
                <th aria-sort="none" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" data-polaris-header-cell="true" scope="col" style="color: #FFFFFF">
                    Associated Order Number
                </th>
                <th aria-sort="none" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" data-polaris-header-cell="true" scope="col" style="color: #FFFFFF">
                    Delivery Day
                </th>
            </tr>
        </thead>
        <tbody>
            <% @pre_orders&.each do |pre_order| %>
                <tr class="Polaris-DataTable__TableRow">
                    <td>
                        <input type="checkbox" class="check_preorder" data-preorder="<%= pre_order.id %>" data-week="<%= pre_order.week %>" data-orderid="<%= pre_order&.order_id %>" data-expecteddelivery="<%= pre_order.expected_delivery_date&.strftime("%A")&.humanize %>">
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row">
                        <%= pre_order&.week %>
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
                        <ul style="margin: 0;">
                            <%  @pre_order_products[pre_order.id].each do |product| %>
                                <li><%= "#{product[:title]} x#{product[:quantity]}"%></li>                              
                            <% end %>
                        </ul>
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                        <%= pre_order&.order_id %>
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                        <%= pre_order&.expected_delivery_date&.strftime("%A") %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <!-- The Modal -->
    <div id="myModal" class="edit_modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="edit_preorder">
                <h1>Edit Preorder</h1>
                <% week_days = ["Monday", "Tuesday", "Wednesday", "ThrusDay", "Friday", "Saturday"] %>
                <div class="edit_preorder_meals"></div>
                <div class="edit_order_number">
                    <label for="order_number_preorder">Order Number</label>
                    <input type="number" id="order_number_preorder">
                </div>
                <div class="edit_preorder_delivery_day">
                    <label for="order_number_preorder">Delivery Day</label>
                    <select id="edit_delivery_day_preorder">
                        <% week_days&.each do |weekday| %>
                            <option value="<%= weekday %>"><%= weekday %></option>
                        <% end %>
                    </select>
                </div>
                <div class="save_changes_btn">
                    <button id="update_change_preorder_btn">Update</button>
                    <div id="upate_preorder_div"></div>
                </div>
            </div>
        </div>

    </div>    
</div>

<script>
    let currentMeal=[]
    $(".check_preorder").change(function(){
        if($(this).is(":checked")&& $(".check_preorder").length==1){
            $.ajax({
                type: 'get',
                url: `/subscriptions/find_weekly_menu_product?week=${$(this).data("week")}`
            })
            $("#order_number_preorder").val($(this).data("orderid"))
            $("#edit_delivery_day_preorder").val($(this).data("expecteddelivery"))
            $("#myBtn").removeClass("hide");
        }else{
            $("#myBtn").addClass("hide");
        }
    })

    $("#update_change_preorder_btn").on("click",function(){


    let selectedValues = [];    
    $("#meals_options :selected").each(function(){
        selectedValues.push($(this).val()); 
    });
        $.ajax({
            type: 'post',
            data: `delivery_day=${$("#edit_delivery_day_preorder").val()}&order_id=${$("#order_number_preorder").val()}&meals=${selectedValues}&customer_id=<%= subscription&.shopify_id %>`,
            url: '/subscriptions/update_boxaby_master_preorder',
            success: function(){
                $("#upate_preorder_div").html("Updated Successfully");
                setTimeout(()=>{
                    $(".close").click();
                }
                ,3000)
            }
        })
    })

    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
    modal.style.display = "block";
    }

    span.onclick = function() {
    modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>



