<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

{% assign current_subscription = false %}

<!-- active_sub {{ active_sub }}-->
{% assign subcollection = collections['subscriptions'] %}
{% for product in subcollection.products %}
  {% if active_sub == product.id %}
    {% assign current_subscription = product %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign is_trail = false %}
{% if current_subscription.title contains 'Trial' %}
  {% assign is_trail = true %}
{% endif %}

<% active_sub_main = customer_order.line_items.find{|item| item.name.downcase.include?('Box'.downcase)} rescue nil %>
<% if active_sub_main %>
  {% assign active_sub = <%= active_sub_main.product_id %> %}
<% else %>
  {% assign active_sub = false %}
<% end %>

<div class="customer account c_account">
  <ul class="nav nav-pills nav-justified contract-tabs">
    <% @subscription_contracts.each do |contract| %>
      <li class="contract-tab" id="<%= contract.id %>"><a href="#"><%= contract.subscription %></a></li>
    <% end %>
  </ul>

  <div class="loader">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
  <div id="contract-content">
    
  </div>
  
{% section 'Account_slider' %}

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
    $(".contract-tab:first").click();
  });

  $('.contract-tab').on('click', function(){
      $('.contract-tabs li.active').removeClass('active');
      $(this).addClass('active');
      $('.loader').show();
      $('#contract-content').html('');
    id = $(this).attr('id');
    let params = {
      local_id: id
    }
    url = '/a/chargezen_production/dashboard/fetch_contract';
    $.ajax({
      url: url,
      type: 'GET',
      data: params,
      contentType: 'application/json',
      success: function(response) {
        $('.loader').hide();
      },
      error: function(response) {

      }
    });
  });

  $('#pause-resume-sub').on('click', function(e){
    e.preventDefault();
    action = $(this).data('path');
    contract_id = $("#subscription-contracts option:selected").val();
    url = "/a/chargezen_production/subscriptions/" + contract_id + action
    $(this).text('Updating..');
    $.ajax({
      url: url,
      type: 'POST',
      contentType: 'application/json',
      success: function(response) {
        Swal.fire({
          icon: 'success',
          title: "Success! Reloading Page",
          showConfirmButton: false
        })
        location.reload();
      },
      error: function(response) {

      }
    });
  });

  $('.recommended-for .slider-holder').slick({
    infinite: true,
    slidesToShow: 2,
    slidesToScroll: 2,
    responsive: [
    {
      breakpoint: 900,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    ]
  });
  $( "#progressbar" ).progressbar({ value: 30});
  $( "#progressbarwarning" ).progressbar({ value: 30});

  function Profile(evt, usr_tab,make_active = true) {
    var i, Profile_links_data, Profile_links;
    Profile_links_data = document.getElementsByClassName("Profile_links_data");
    for (i = 0; i < Profile_links_data.length; i++) {
      if(!(Profile_links_data[i].id == 'Schedule' && usr_tab == 'Overview')) {
        Profile_links_data[i].style.display = "none";
      }
    }
    tablinks = document.getElementsByClassName("Profile_links");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(usr_tab).style.display = "block";
    if(usr_tab == 'Overview') {
      document.getElementById('Schedule').style.display = "block";
    }
    document.getElementById("Overview").style.display = "none";
    if (make_active)
      evt.currentTarget.className += " active";

  }



  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();

  $(document).ready(function (){
    $(".submit_pre_order").on('click', function(e){
      $.ajax({
        url: '/a/chargezen_production/dashboard/pre_order',
        type: 'POST',
        data: JSON.stringify($(this).data('pre_order')),
        contentType: 'application/json',
        success: function(response) {
          window.location = '/a/chargezen_production?customer_id=' + response.customer_id;
        },
        error: function(response) {}
      });
    });

    $('.view-input').addClass('disabled');
    $('#save_information').hide();

    $("#edit_information").on('click', function(){
        $('.view-input').removeClass('disabled');
        $(this).hide();
        $('#save_information').show();
    });

    $('#orders_list').on('change', function(){
      let enable = $('#orders_list :selected').val();
      $('.past_orders, .current_order, .pre_orders').hide();
      if(enable == 'Current'){
        $('.current_order, .pre_orders').show();
      }else{
        $('.past_orders').show();
      }
    });

    $("#save_information").on('click', function(){

        $('.view-input').addClass('disabled');
        $(this).hide();
        $('#edit_information').show();


          $("form").submit(function (event) {
            var formData = {
              customer_id: '<%= params[:customer_id] %>',
              first_name: $("#first_name").val(),
              last_name: $("#last_name").val(),
              address1: $("#address1").val(),
              address2: $("#address2").val(),
              city: $("#city").val(),
              state: $("#province").val(),
              state: $("#province").val(),
              country: $("#country_name").val(),
              zip: $("#zip").val(),
            };

          let payment_url = '<%= action_subscription_contract_path(:update_payment, (customer.id rescue params[:customer_id]) ) %>'
          $.ajax({
            url: '/a/chargezen_production/dashboard/customer_info',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(response) {
              if($("#credit_card_number").val() != '' && $("#credit_card_name").val() != '' && $("#expiration_date").val() != ''){
                let card_data = {
                  card_number: $("#credit_card_number").val(),
                  name: $("#credit_card_name").val(),
                  verification_value: $('#verification_value').val(),
                  // shipping_address: $("#shipping_address").val(),
                  exp_year: $("#exp_year").val(),
                  exp_month: $("#exp_month").val(),
                  company: $("#company").val()
                };
                $.ajax({
                  url: payment_url,
                  type: 'POST',
                  data: JSON.stringify(card_data),
                  contentType: 'application/json',
                  success: function(response) {

                    window.location = window.location.href + '&tab=Account';
                  },
                  error: function(response) {window.location = window.location.href + '&tab=Account';}
                });
              }else{
                window.location = window.location.href + '&tab=Account';
              }
            },
            error: function(response) {}
          });


          });
      });

    <% if params[:tab] == 'Overview' %>
    Profile($('.overview_tab'), 'Overview',false)
    $('.overview_tab').addClass('active');
    <% els if ( params[:tab] == 'Account') %>
    Profile($('.account_tab'), 'Account',false)
    $('.account_tab').addClass('active');
      <% else %>
    document.getElementById("defaultOpen").click();
    <% end %>

    $('#sub_list_slide_box li button').on('click', function () {
      $('#sub_list_slide_box li button.active').removeClass('active');
      $(this).addClass('active');
    });
    $('#sub').on('click', function () {
      // a=$('#sub_list_slide_box li button.active span.sub_duration_2').text();
      b=$('#sub_list_slide_box li button.active span.each_price').text();
      // c=$('#sub_list_slide_box li button.active span.bottom').text();
      let data={
        each_price:b
      }
    <% if active_sub_main.present? && active_sub_main.id.present? %>
      $.ajax({
        url: "/a/chargezen_production/subscriptions/<%= active_sub_main.id %>/update_subscription",
        type: 'POST',
        data: JSON.stringify({customer_id: '<%= params[:customer_id] %>', quantity: $('#sub_list_slide_box li button.active').find('input[type=hidden]').val() }),
        contentType: 'application/json',
        success: function(response) {
          window.location.reload();// = '/a/chargezen_production?customer_id=' + response.customer_id;
        },
        error: function(response) {}
      });
    <% end %>

      $(this).addClass('active');
    });
    let name = $('.customer-initial').data('name');
    $('.customer-initial').html(name.substring(0, 2).toUpperCase());
  });
</script>