<!DOCTYPE html>
<html>
  <head>
    <title>Chargezen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="devise_main_page">
        <div class="left_page">
            <div class="ethey_logo_div">
            <%= image_tag "ChargeZenLogo.svg", class:"ethey_logoin_logo"%>
            </div>
                <%- flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                <%- end -%>  
                <%= yield %>
            </div>
        <div class="right_devise_page">
            <%= image_tag "ethey_signup_image.png", class:"ethey_login_main_image"%>
        </div>
    </div>
  </body>
</html>